@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/futura-pt-cdnfonts/FuturaCyrillicBook.ttf");
}

body {
  background-color: rgb(176, 176, 204);
  background-image: url(assets/images/BFP3.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  max-width: 150px;
  margin-top: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  font-family: 'Futura PT';
  font-size: larger;
}


.block {
  max-width: 225px;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 15px;
  padding-bottom: 650px;
  background-color: chocolate;
}

@media screen and (max-width: 824px) {
  .block {
    display: none;
  }
}


