@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/futura-pt-cdnfonts/FuturaCyrillicBook.ttf");

  font-family: "Open-Sans";
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf");

  font-family: "Rubik";
  src: url("/assets/fonts/Rubik/static/Rubik-Regular.ttf");
  
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
  
  font-family: "Lora";
  src: url("/assets/fonts/Lora/static/Lora-Regular.ttf");  
}


.main-logo {
  max-width: 100px;
  margin: 25px 25px;

}

body {
  background-color: rgb(2, 2, 23);
  background-image: url(assets/images/homepage-resized.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.main-wrap {
  display: flex;
  position: relative;
}

/* .mobile-nav .navbar .nav-in .navbar-light .bg-light {
  display: none !important;
  visibility: hidden !important;
} */

/*Change Text font*/
.main-wrap .block {
  position: fixed;
  width: 240px;
  height: 100%;
  background: #00000080;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/*shift text to right or left in nav and resize tabs with padding*/
.main-wrap .block ul li {
  padding: 10px 0 10px;
}

.main-wrap .block ul li:hover a {
  background: #eee7e735;
}

.main-wrap .block .social-med {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translate(-50%);
}

.main-wrap .block .social-med a {
  display: block;
  width: 40px;
  background-color: none;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*Motto Text Orient.*/
.main-wrap .home-cont {
  width: 100%;
  margin-left: 300px;
  padding-left: 15px;
}

.home-intro {
  color: #fff;
  font-family: "Lora";
  font-weight: 400;
  margin-top: 4rem;
  font-size: x-large;
  line-height: 2.4rem;
  margin-right: 2rem;
}

.btn{
  margin-top: 1rem;
  padding-top: 0%;
}

/*Home Page Icons*/
.main-wrap .hm-pg-icons a {
  display: flex;
  display: inline;
  padding-right: 20px;
  margin-top: 15px;
  color: #fff
}

.hm-pg-icons {
  display: flex;
  justify-content: flex-end;
}

/*Motto Text CSS*/
.main-wrap .home-cont .header {
  display: flex;
  padding: 40px;
  padding-left: 0px;
  padding-top: 25px;
  color: #fff;
  font-family: "Futura PT";
  font-size: 70px;
}



.main-wrap .home-cont .btn {
  font-family: 'Futura PT';
  background-color: #e8e0e0;
}

.featured-txt {
  margin-top: 35rem;
  font-family: "Lora";
  margin-left: 29rem;
  color: #fff;
  font-size: 40px;
  margin-bottom: 5rem;
}

.circle-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rounded-circle {
  object-fit: cover;
  max-height: 300px;
  margin-top: 25px;
}

.fw-normal {
  color: #fff;
  text-align: center;
  margin-right: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'Poppins'

}

.cir-txt {
  color: #fff;
  background-color: #00000080;
  padding: 2rem;
  border-radius: 20px;
  margin-bottom: 6rem;
  margin-right: 5rem;
}


footer {
  background-color: #02000089;
  padding: 20px;
  text-align: center;
  margin-left: 15rem;
  margin-top: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  width: 25%;
  text-align: left;
}

.footer-links h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Futura";
}

.footer-logo {
  text-align: center;
  max-width: 8rem;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-copyright {
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/*Mobile Version*/
@media screen and (max-width: 824px) {
  body {
    max-width: fit-content;
    background-color: black;
  }

  .block {
    display: none;
  }

  .mobile-nav {
    display: contents;
  }

  footer {
    margin-left: auto;
    margin-top: auto;
  }

  .main-wrap .home-cont {
    margin: auto;
  }

  .main-wrap .home-cont .header {
    padding-right: 60px;
  }

  .main-wrap .home-cont .site-info {
    display: flex;
    margin-right: 30px;
  }

  .featured-txt {
    margin-right: 3rem;
  }

  .circle-img{
    margin-left: 4rem;;
  }

  mob-nav {
    max-width: 600px;
  }


}