@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/futura-pt-cdnfonts/FuturaCyrillicBook.ttf");

  font-family: "Open-Sans";
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}


body {
  background-color: rgb(176, 176, 204);
  background-image: url(assets/images/BFP3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrap {
  display: flex;
  position: relative;
}

.main-wrap .block {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #00000080;
  padding: 20px 0;
}

.main-wrap .block h2 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.main-wrap .block ul li {
  padding: 20px;
}

.main-wrap .block ul li:hover a {
  background: #eee7e735;
}

.main-wrap .block .social-med a {
  display: block;
  width: 40px;
  background: #721313;
}

img {
  max-width: 175px;
  
}

h1 {  
}
  

h2{
  
}

nav {
  display: flex inline-block;
  flex-direction: column;
  padding-left: 80px;
  font-family: 'Futura PT';
  font-size: larger;
}

h1 {
  display: inline-block;
  margin-left: 225px;
}

@media screen and (max-width: 824px) {
  .block {
    display: none;
  }
}


