@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/futura-pt-cdnfonts/FuturaCyrillicBook.ttf");

  font-family: "Open-Sans";
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

.main-logo{
  max-width: 100px;
  margin: 25px 25px;

}

body {
  background-color: rgb(2, 2, 23);
  background-image: url(/assets/images/BFP3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-wrap {
  position: relative;
}

/*Change Text font*/
.main-wrap .block {
  position: fixed;
  width: 240px;
  height: 100%;
  background: #00000080;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/*shift text to right or left in nav and resize tabs with padding*/
.main-wrap .block ul li {
  padding: 10px 0 10px;
}

.main-wrap .block ul li:hover a {
  background: #eee7e735;
}

.main-wrap .block .social-med {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translate(-50%);
}

.main-wrap .block .social-med a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*Home Page Icons controls*/
.main-wrap .hm-pg-icons a {
  padding-right: 20px;
  margin-top: 15px;
  color: #fff
}
/*Keeps icon's on top right*/
.hm-pg-icons {
  display: flex;
  justify-content: flex-end;
}

.main-wrap .home-cont .header {
  display: flex;
  padding: 40px;
  padding-left: 275px;
  color: #fff;
  font-family: "Futura PT";
  font-size: 70px;
}
form {
  margin-left: 2rem;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15rem; 
}
.form-label {
  margin-left: 15rem;
  color: white;
}

.btn {
  margin-top: 2rem;
  margin-left: 15rem; 
}

footer {
  margin-left:15rem;
  margin-top:5rem;
  background-color: #02000089;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  width: 25%;
  text-align: left;
}

.footer-links h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Futura";
}

.footer-logo {
  text-align: center;
  max-width: 8rem;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-copyright {
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/*Mobile Version*/
@media screen and (max-width: 824px) {
  body {
    max-width: fit-content;
    background-color: black;
  }

  .block {
    display: none;
  }

  .form-control {
    margin-left: auto;
    color: black;
  }
  .form-label {
    margin-right:0;
  }

  .btn {
    margin-left: 1px;
  }
  
  footer{
    margin-left: auto;
    padding-right: 20px ;
    width: 100%;
  }

  .main-wrap .home-cont {
    margin: auto;
  }

  .main-wrap .home-cont .header {
    padding-left: 2rem;
  }

  .main-wrap .home-cont .site-info {
    display: flex;
    margin-right: 30px;
  }

  mob-nav {
    max-width: 600px;
  }


}