@font-face {
  font-family: "Futura PT";
  src: url("/assets/fonts/futura-pt-cdnfonts/FuturaCyrillicBook.ttf");

  font-family: "Open-Sans";
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

img {
  max-width: 100px;
  margin: 25px 25px;

}

body {
  background-color: rgb(2, 2, 23);
  background-image: url(/assets/images/homepage-resized.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-wrap {
  display: flex;
  position: relative;
}

/*Change Text font*/
.main-wrap .block {
  position: fixed;
  width: 240px;
  height: 100%;
  background: #00000080;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/*shift text to right or left in nav and resize tabs with padding*/
.main-wrap .block ul li {
  padding: 10px 0 10px;
}

.main-wrap .block ul li:hover a {
  background: #eee7e735;
}

.main-wrap .block .social-med {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translate(-50%);
}

.main-wrap .block .social-med a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

/*Motto Text Orient.*/
.main-wrap .home-cont {
  width: 100%;
  margin-left: 300px;
  padding-left: 15px;
}

/*Home Page Icons*/
.main-wrap .hm-pg-icons a {
  display: flex;
  display: inline;
  float: right;
  padding-right: 20px;
  margin-top: 15px;
  color: #fff
}

/*Motto Text CSS*/
.main-wrap .home-cont .header {
  display: flex;
  padding: 40px;
  padding-left: 0px;
  padding-top: 25px;
  color: #fff;
  font-family: "Futura PT";
  font-size: 70px;
}

.main-wrap .home-cont .btn {
  font-family: 'Futura PT';
}

/*Paragraph Text*/
.main-wrap .home-cont .site-info {
  padding: 50px;
  font-size: medium;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.661);
  border-style: solid;
  border-color: #fff;
}

.main-wrap .home-cont .k-letter {
  font-size: 60px;
  color: rgb(106, 122, 122);
  line-height: 0%;
  padding-right:5px;
}
.bg-check-pg {
  display: flex;
  margin: 20px;
  margin-left: 0px;
  padding-left: 15px;
  background-color: rgba(38, 25, 25, 0.537);
  max-width: 1200px;
  min-width:400px
}

.main-wrap .cart {
  padding-bottom: 3rem;
}

.main-wrap h4 {
  color: #fff;
}

.main-wrap .bg-check-pg {
padding: 20px;
color: #fff;
margin-bottom: 6rem;
}

footer {
  background-color: #02000089;
  padding: 20px;
  text-align: center;
  margin-left: 15rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  width: 25%;
  text-align: left;
}

.footer-links h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Open-Sans";
}

.footer-logo {
  text-align: center;
  max-width: 8rem;
}

.footer-logo img {
  max-width: 100%;
  height: auto;
}

.footer-copyright {
  width: 50%;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/*Mobile Version*/
@media screen and (max-width: 824px) {
  body {
    max-width: fit-content;
    background-color: black;
  }

  .block {
    display: none;
  }

  footer {
    margin-left: 0;
    width: 100vw;
    height: 50vw;
  }

  .footer-logo {
    margin-right: 3rem;
  }
    
  .container {
    position: absolute;
  }

  .main-wrap .home-cont {
    margin: auto;
  }

  .main-wrap .home-cont .header {
    padding-right: 60px;
  }

  .main-wrap .home-cont .site-info {
    display: flex;
    margin-right: 30px;
  }

  mob-nav {
    max-width: 600px;
  }


}